<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render partial: 'shared/user_info' %>
      </section>
      <section>
        <%= render partial: 'shared/stats' %>
      </section>
      <section>
        <%= render partial: 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render partial: 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://lotustutorial.org/">Lotus Tutorial</a>
      sample application.
    </h2>

    <%= sign_up_now_link %>
  </div>
<% end %>
